.tiles__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 100px;

  > :not(:last-child) {
    padding-bottom: 58px;
  }
}

.tiles__subtitle {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
  color: #9fa7bb;
  text-transform: uppercase;
}

.tiles__title {
  margin: 0 auto;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.24;
  text-align: center;
  color: #232323;
}

.tiles__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.tiles__configuration {
  width: 16px;
  height: 16px;
  padding: 17px;
  border-radius: 25px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  background-color: #2f3748;
  cursor: pointer;
}

.tiles__icon-settings {
  // Not sure what do I have to do to align that icon properly
  overflow: initial;
  display: block;
}
